# Build output
dist/

# Dependencies
node_modules/
.wrangler/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables file
.env
.env.*
!.env.example

# MacOS-specific files
.DS_Store

# VS Code
.vscode/

# Server certificates
certs
*.pem
*.crt
*.key

# Typescript build info
*.tsbuildinfo
