@import "open-props/style";
@import "open-props/open-props.min.css";

:root {
  --color-red: #ee3124;
  --color-grey: #9b9ba9;
  --color-yellow: #fff854;  
  font-family: var(--font-neo-grotesque);
  color: var(--gray-9);
}
